<script>
   $(document).ready(function (){
     console.log('[doc-scroll]');

     var $sidebar = $(".main-content .sidebar");

     var scrollPosition = getParameterByName('scroll');
     if(scrollPosition) {
       $sidebar.scrollTop(scrollPosition);
     }

     $('.doc-link').click(function(){
        var scrollTop = $sidebar.scrollTop();
        console.log('scroll', this, scrollTop);
        if(scrollTop > 0)
          $(this).attr("href", this.href + "?scroll=" + $sidebar.scrollTop());
     });

     function getParameterByName(name, url) {
        if (!url) {
          url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

   });
</script>
