<div class="row">

  <div class="col-sm-4 col-xs-12 ">
    <h5>{{site.data.about.title}}</h5>
    <ul>
      {% for subitem in site.data.about.items %}
        <li><a title= " {{subitem.title}} " href=" {{subitem.url}} ">{{subitem.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-4 col-xs-12">
    <h5>  {{site.data.publications.title}} </h5>
    <ul>
      {% for subitem in site.data.publications.items %}
        <li><a title= " {{subitem.title}} " href=" {{subitem.url}} ">{{subitem.title}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-4 col-xs-12">
    <h5>  {{site.data.staytuned.title}} </h5>
    <ul>
      {% for subitem in site.data.staytuned.items %}
        <li><a title= " {{subitem.title}} " href=" {{subitem.url}} ">{{subitem.title}}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>
