#concept {
  padding: 100px 0;
  background-color: $gray;

  .block {
    text-align: center;

    p {
      color: #7B7B7B;
      padding-top: 20px;
    }

    img {
    }


  }

  .section-title {
    margin-bottom: 0px;

    .p {
      padding-top: 20px;
    }
  }
}
