@import "_sidebar";


.navbar-nav {

  @media (max-width: 768px) {
    height: calc(100vh - 102px);
    overflow-y: scroll;
  }

  .sidebar {

    .category {
      color: $blue1;
    }

    ul {
      margin-bottom: 25px;
    }

    .doc-link {

      color: $white;
      margin: 0 0 0 10px;
      padding: 0 5px;
      display: block;

      &:hover,
      &:active,
      &.active {
        color: $black;
        background: $gray;
      }

    }

  }

}

.sidebar {

  ul {
    margin-bottom: 25px;
  }

  .doc-link {

    color: $blue1;
    margin: 0 0 0 10px;
    padding: 0 5px;
    display: block;

    &:hover,
    &:active,
    &.active {
      color: $black;
      background: $gray;
    }

  }

}

.main-documentation {

  footer {
    display: none;
    padding-top: 20px;
    border-top: 1px solid;
    margin-top: 20px;
    background: none;

    .container {
      width: auto;
      padding: 0;
    }

    .subscribe {
      margin: 0;
      width: 100%;

      h2 {
        margin: 0;
        padding: 0;
      }
    }

    .social-media-list {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .footer-menu p {
      color: $black;
      font-size: 0.875rem /* 14/16 */
    }

    .footer-footer {
      float: left;
    }
  }

}
