
/*--
	wrapper Start
--*/
#intro {
  padding: 100px 0;

  .block {

    h2 {
      padding-top: 25px;
      margin: 0;
    }

    p {
      color: #7B7B7B;
      padding-top: 20px;
    }

    img {
      padding-left: 40px;
      width: 100%;
    }


  }

  .section-title {
    margin-bottom: 0px;
    padding-top: 0;

  }
}
