---
layout: default
---

<div>
  <div id="navbar" class="sidebar col-sm-3">
    {% assign navurl = page.url | remove: 'index.html' %}

    {% assign docs_by_category = site.pages %}

    {% for ident in site.category_order %}
      <p class="category">{{ ident }}</p>
      <ul>
        {% assign category = docs_by_category | where: "category", ident | sort: "order"  %}
        {% for item in category %}
          <li>
            {% if item.url == navurl %}
              <a href="{{ item.url | relative_url }}" class="active doc-link" role="link">  {{ item.title }} </a>
            {% else %}
              <a href="{{ item.url | relative_url }}" class="doc-link" role="link">  {{ item.title }} </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

  <div class="main col-sm-9">

    <div class="row">
      <section id="global-header">
          <div class="col-sm-12">
            <div class="block">
              <h1>{{ page.title | escape }}</h1>
              <p>{{ page.subtitle | escape }}</p>
            </div>
          </div>
      </section>
    </div>

    <section>
      <div class="">
        {{ content }}
      </div>
    </section>
  </div>

  {% include doc-scroll.html %}

</div>
