---
layout: default
---

<div>
  <div id="navbar" class="sidebar col-sm-3 col-md-2 hidden-xs">
    <div class="doc-nav" role="navigation" aria-label="Documentation navigation">
      {% include menu.html %}
    </div>
  </div>

  <div class="main col-sm-9 col-md-10">

    <div class="row">
      <section id="global-header">
          <div class="col-sm-12">
            <div class="block">
              <h1>{{ page.title | escape }}</h1>
              <p>{{ page.subtitle | escape }}</p>
            </div>
          </div>
      </section>
    </div>

    <section>
      <div class="">
        {{ content }}
      </div>
    </section>
  </div>

  {% include doc-scroll.html %}

</div>
