---
layout: default
---


<div>
  <!-- <section id="global-header">
    <div class="col-sm-12">
      <div class="block">
        <h1>{{ page.title | escape }}</h1>
        <p>{{ page.subtitle | escape }}</p>
      </div>
    </div>
  </section> -->

  <div id="navbar" class="sidebar hidden-xs">
    <div class="doc-nav" role="navigation" aria-label="Documentation navigation">
      {% include menu.html %}
    </div>
  </div>

  <div class="main-documentation">

    <h1>{{ page.title | escape }}</h1>
    <section>
      {{ content }}
    </section>

    {% include footer.html %}

  </div>

  {% include doc-scroll.html %}

</div>
